pymupdf 
chromadb 
fastapi 
uvicorn 
pydantic
fuzzywuzzy
sentence-transformers 
pytesseract
openai
google-cloud-speech 
streamlit
scikit-learn
pyttsx3
pandas
numpy
pdfminer.six
deep-translator
textblob
nltk
langdetect
transformers
speechrecognition
pyaudio
torch
torchvision 
torchaudio 
easyocr 
PyMuPDF
langchain
selenium 
beautifulsoup4
flask 
openpyxl 
python-docx 
tabulate
python-multipart





openpyxl 
python-docx 
tabulate 
opencv-python
mediapipe
pytorch3d
# slack_sdk 
# smtplib
pydantic








fastapi
uvicorn 
pymupdf 
chromadb 
openai 
google-api-python-client

fuzzywuzzy 
sentence-transformers 
streamlit 
scikit-learn 
pandas 
numpy 
pdfminer
deep-translator 
textblob 
nltk 
langdetect 
transformers 
speechrecognition

pyaudio 
torch 
torchvision 
torchaudio 
easyocr 
PyMuPDF 
langchain 
selenium 
beautifulsoup4 
flask 
openpyxl 
python-docx 
tabulate 
opencv-python 
mediapipe 
pytorch3d 
# slack_sdk
# smtplib
pydantic
